{% extends "base.html" %}


{% block titulo %} Lista de Clientes {% endblock  %}


{% block conteudo %}  
<table style="margin-top:15px" class="table table-bordered table-hover">
  <thead class="thead-dark">


      <tr>
          <th scope="col">ID</th>
          <th scope="col">Matricula</th>          
          <th scope="col">Nome</th>
          <th scope="col">Curso</th>
          <th scope="col">Turma</th>          
          <th scope="col">Ações</th>  
      </tr>
  </thead>
    <tbody>
      {% for item in lista %}
      <tr>
          <td>{{ forloop.counter0 }}</td>
          <td>{{item.nome}}</td>
          <td> {{item.matricula}} </td>
          <td> {{item.curso}} </td>
          <td> {{item.turma}} </td>          
          <td> 
              <button onclick="location='#'"  class="btn btn-warning">Alterar </button>
              <a href="#" class="btn btn-danger" 
              onclick="return confirm('Tem certeza que deseja remover este registro?');">Excluir</a>
          </td> 
      </tr>
      {% endfor %}
   </tbody>
</table>
  
  {% endblock  %}